*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(207, 228, 247);
}
.container{
    background-color: rgb(9, 226, 136);
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
}
.box-container{
    font: 24px bold;
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
}
.box{
    background-color: antiquewhite;
    border: 3px solid rgb(25, 53, 173);
    border-radius: 10px;
    flex-basis: 50%;

    min-height: 150px;
    flex-grow: 1;
}
nav{
    background-color: rgb(69, 145, 119);
    color: white;
    flex-basis: 120px;
}

.box:nth-child(2n){
    border-color: rgb(255, 115, 0);
}
footer{
    flex-grow: 1;
    flex-basis: 100%;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width: 480px){
    .box-container{
        flex-direction: column;
    }
    /* .box{
        flex-basis: 100%;
    } */
}